---
title: Blog
---

<div class="row">
  <div class="span9">
    {% for post in paginator.posts %}
      {% if post.published %}
        <!-- here add your post markup -->
        <article>
          <h1 style="line-height: 16px;"><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
          <p class="author">
            <span class="date" style = "text-transform: uppercase">{{ post.date | date_to_long_string }}</span>
          </p>
          <div class="content">
            {{ post.content | split:'<!---abstract-->' | first }}
          </div>
          <p class='readmore'><a href="{{site.baseurl}}{{ post.url }}">Read more ...</a></p>
        </article>
        <hr class ="soften"/>
      {% endif %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{site.baseurl}}{{paginator.previous_page}}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
      {% if paginator.next_page %}
        <a href="{{site.baseurl}}{{paginator.next_page}}" class="next ">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
  <div class="span3">
    <div class= "row-fluid">
      <div class= "span12">
        <div class="well">
          <h5 class= "header"> Popular Articles </h5>
          <ul>
            <li><a href ="/pages/investment_education/smart-investments">How to invest</a> </li>
            <li><a href ="/pages/investment_education/share-market">Share Market</a> </li>
            <li><a href ="/pages/investment_education/gold-investment">Gold</a> </li>
            <li><a href ="/pages/investment_education/investment-diversification">Diversification</a> </li>
            <li><a href ="/pages/investment_education/investing-trading-shares">Investing v/s Trading</a> </li>
            <li><a href ="/pages/investment_education/investment-fixed-deposits">Fixed Deposits</a> </li>
            <li><a href ="/pages/investment_education/sip">Sip</a> </li>
            <li><a href ="/pages/investment_education/investment-types">Types of investment</a> </li>
            <li><a href ="/pages/investment_education/life-insurance-policies">Life Insurance</a></li>
            <li><a href ="/pages/investment_education/where-to-invest"> Where to invest</a></li>
            <li><a href ="/pages/investment_education/tax-planning"> Planning your taxes</a> </li>
            <li><a href ="/pages/investment_education/shares">Shares</a></li>
            <li><a href ="/pages/investment_education/mutual-funds-etf">Mutual Funds and ETFs</a></li>
            <li><a href ="/pages/investment_education/bonds">Bonds</a></li>
            <li><a href ="/pages/investment_education/fundamental-analysis-shares">Fundamental Analysis</a></li>
            <li><a href ="/pages/investment_education/technical-analysis-shares">Technical Analysis</a></li>
            <li><a href ="/pages/investment_education/investment-plan">Investment Plan</a></li>
          </ul>
        </div>
        <div class="well">
          <h5 class="header">Popular Research Reports</h5>
          <table>
            <tr>
              <td class="span"><a href="/pages/research"> Axis Bank </a></td>
              <td class="span green"> Buy </td>
            </tr>
            <tr>
              <td ><a href="/pages/research">State Bank of India </a></td>
              <td class="red"> Sell </td>
            </tr>
            <tr>
              <td ><a href="/pages/research">Tata Consultancy Services</a></td>
              <td class="green"> Buy </td>
            </tr>
            <tr>
              <td ><a href="/pages/research">Infosys</a> </td>
              <td class="green"> Hold </td>
            </tr>
            <tr>
              <td ><a href="/pages/research">Dr.Reddy</a> </td>
              <td class="green"> Buy </td>
            </tr>
            <tr>
              <td ><a href="/pages/research">Ranbaxy</a></td>
              <td class="red"> Sell </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

