---
title: Blog
---

<div class= "postarea">
{% for post in paginator.posts %}
  {% if post.published %}
    <!-- here add you post markup -->
    <article>
      <h1><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
        <span class="date">{{ post.date | date_to_long_string }}</span>
      </p>
      <div class="content">
        {{ post.content | split:'<!---abstract-->' | first }}
      </div>
      <p class='readmore'><a href="{{site.baseurl}}{{ post.url }}">Read more ...</a></p>
    </article>
  {% endif %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{site.baseurl}}{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="{{site.baseurl}}{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>
<div class= "extracontent">
   <div class= "takeaway">
    <h1> Best of Investopresto </h1>
    <ul>
      <li> Stockholders usually receive a part of the company’s income as dividend, although some companies may not pay dividends regularly.</li>
      <li> Total return on stocks is the sum of capital gains and dividends received.</li>
      <li> Common stock and preferred stock are the two types of stock.</li>
    </ul>
  </div>
</div>
