---
title: Blog
---

<div class="row">
  <div class="span9">
    {% for post in paginator.posts %}
      {% if post.published %}
        <!-- here add your post markup -->
        <article>
          <h1><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="author">
            <span class="date">{{ post.date | date_to_long_string }}</span>
          </div>
          <div class="content">
            {{ post.content | split:'<!---abstract-->' | first }}
          </div>
          <p class='readmore'><a href="{{site.baseurl}}{{ post.url }}">Read more ...</a></p>
        </article>
        <hr class ="soften"/>
      {% endif %}
    {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{site.baseurl}}{{paginator.previous_page}}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
      {% if paginator.next_page %}
        <a href="{{site.baseurl}}{{paginator.next_page}}" class="next ">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
  </div>
  <div class="span3">
    <div class= "row-fluid">
      <div class= "span12 well">
        <h5.header> Popular Articles </div>
        <ul>
          <li><a href ="/pages/investment_education/smart-investments">How to invest</a> </li>
          <li><a href ="/pages/investment_education/share-market">Share Market</a> </li>
          <li><a href ="/pages/investment_education/gold-investment">Gold</a> </li>
          <li><a href ="/pages/investment_education/investment-diversification">Diversification</a> </li>
          <li><a href ="/pages/investment_education/investing-trading-shares">Investing v/s Trading</a> </li>
          <li><a href ="/pages/investment_education/investment-fixed-deposits">Fixed Deposits</a> </li>
          <li><a href ="/pages/investment_education/sip">Sip</a> </li>
          <li><a href ="/pages/investment_education/investment-types">Types of investment</a> </li>
          <li><a href ="/pages/investment_education/life-insurance-policies">Life Insurance</a></li>
          <li><a href ="/pages/investment_education/where-to-invest"> Where to invest</a></li>
          <li><a href ="/pages/investment_education/tax-planning"> Planning your taxes</a> </li>
          <li><a href ="/pages/investment_education/shares">Shares</a></li>
          <li><a href ="/pages/investment_education/mutual-funds-etf">Mutual Funds and ETFs</a></li>
          <li><a href ="/pages/investment_education/bonds">Bonds</a></li>
          <li><a href ="/pages/investment_education/fundamental-analysis-shares">Fundamental Analysis</a></li>
          <li><a href ="/pages/investment_education/technical-analysis-shares">Technical Analysis</a></li>
          <li><a href ="/pages/investment_education/investment-plan">Investment Plan</a></li>
        </ul>
        <div class= "thumb">
          <h5><a href ="/pages/financial-planning"> Financial Planning </a></h5>
          <p> Planning can be nerve-wracking. That’s why we did all the complicated number crunching so that you can invest with a single click.</p>
        </div>
        <div class= "thumb">
          <h5><a href ="/pages/investment_education"> Learn Investing </a></h5>
          <p> An investment in knowledge pays the best interest." - Benjamin Franklin Learn how to make good investment decisions.</p>
        </div>
        <div class="thumb">
          <h5><a href ="/pages/research"> Stock Recommendations </a></h5>
          <p> No one has become a crorepati by saving money in a bank account or fixed deposit. That’s why we recommend money-multiplying stocks.</p>
        </div>
        <div class= "thumb">
          <h5><a href ="/pages/markets"> Stock Market data </a></h5>
          <p> The stock market is flooding with information. Stay ahead of others with the latest news, quotes and detailed corporate information. We support 3,500 stocks and 5,000 mutual funds</p>
        </div>
        <div class= "thumb">
          <h5><a href ="/pages/research"> Research Reports </a></h5>
          <p> Our research report aggregator tool is so vast that you can become a Ph.d in Financial Research.</p>
        </div>
        <div class= "thumb">
          <h5><a href ="/pages/manage-investments"> Portfolio Tracking </a></h5>
          <p> No unnecessary paperwork, excel formulas or any other fancy tools. Get a financial analyst’s perspective of all your investments with just a few clicks.</p>
        </div>
        <div class= "thumb">
          <h5>
            Social Features
            <small> Coming Soon</small>
          </h5>
          <p> Connect with the kings of investing and learn how to make profitable investments.If you are a king yourself, build a kingdom of followers.</P>
      </div>
    </div>
  </div>
</div>

