<div class= "row">
  <div class= "span9">
    <div class= "postarea">
    <article>
      <h1 style="line-height: 16px;"><a>{{ page.title }}</a></h1>
      <div class="author">
          <span class="date"style = "text-transform: uppercase">{{ page.date | date_to_long_string }}</span>
        </div>
        <section>{{ content }}</section>
      </article>
    </div>
  </div>
  <div class= "span3">
    <div class= "row-fluid">
      <div class= "span12">
        <div class="well">
          <h5 class= "header"> Popular Articles </h5>
          <ul>
            <li><a href ="/pages/investment_education/smart-investments">How to invest</a> </li>
            <li><a href ="/pages/investment_education/share-market">Share Market</a> </li>
            <li><a href ="/pages/investment_education/gold-investment">Gold</a> </li>
            <li><a href ="/pages/investment_education/investment-diversification">Diversification</a> </li>
            <li><a href ="/pages/investment_education/investing-trading-shares">Investing v/s Trading</a> </li>
            <li><a href ="/pages/investment_education/investment-fixed-deposits">Fixed Deposits</a> </li>
            <li><a href ="/pages/investment_education/sip">Sip</a> </li>
            <li><a href ="/pages/investment_education/investment-types">Types of investment</a> </li>
            <li><a href ="/pages/investment_education/life-insurance-policies">Life Insurance</a></li>
            <li><a href ="/pages/investment_education/where-to-invest"> Where to invest</a></li>
            <li><a href ="/pages/investment_education/tax-planning"> Planning your taxes</a> </li>
            <li><a href ="/pages/investment_education/shares">Shares</a></li>
            <li><a href ="/pages/investment_education/mutual-funds-etf">Mutual Funds and ETFs</a></li>
            <li><a href ="/pages/investment_education/bonds">Bonds</a></li>
            <li><a href ="/pages/investment_education/fundamental-analysis-shares">Fundamental Analysis</a></li>
            <li><a href ="/pages/investment_education/technical-analysis-shares">Technical Analysis</a></li>
            <li><a href ="/pages/investment_education/investment-plan">Investment Plan</a></li>
          </ul>
        </div>
        <div class="well">
          <h5 class="header">Popular Research Reports</h5>
          <table>
            <tr>
              <td class="span" ><a href="/pages/stock-recommendations"> Axis Bank </a></td>
              <td class="span green" > Buy </td>
            </tr>
            <tr>
              <td ><a href="/pages/stock-recommendations">State Bank of India </a></td>
              <td class="red" > Sell </td>
            </tr>
            <tr>
              <td ><a href="/pages/stock-recommendations">Tata Consultancy Services</a></td>
              <td class="green" > Buy </td>
            </tr>
            <tr>
              <td ><a href="/pages/stock-recommendations">Infosys</a> </td>
              <td class="green" > Hold </td>
            </tr>
            <tr>
              <td ><a href="/pages/stock-recommendations">Dr.Reddy</a> </td>
              <td class="green"> Buy </td>
            </tr>
            <tr>
              <td ><a href="/pages/stock-recommendations">Ranbaxy</a></td>
              <td class="red"> Sell </td>
            </tr>
          </table>
        </div>
        <div class="thumb">
          <a href="/pages/win-an-ipad3"><img src= "/assets/ebola-370.jpg" class ="img-rounded"/></a>
        </div>
      </div>
    </div>
  </div>
</div>

