<div class= "row">
  <div class= "span9">
    <div class= "postarea">
    <article>
      <h1><a>{{ page.title }}</a></h1>
      <div class="author">
          <span class="date">{{ page.date | date_to_long_string }}</span>
        </div>
        <section>{{ content }}</section>
      </article>
    </div>
  </div>
  <div class= "span3">
    <div class= "row-fluid">
      <div class= "span12">
        <div class="well">
          <h5 class= "header"> Popular Articles </h5>
          <ul>
            <li><a href ="/pages/investment_education/smart-investments">How to invest</a> </li>
            <li><a href ="/pages/investment_education/share-market">Share Market</a> </li>
            <li><a href ="/pages/investment_education/gold-investment">Gold</a> </li>
            <li><a href ="/pages/investment_education/investment-diversification">Diversification</a> </li>
            <li><a href ="/pages/investment_education/investing-trading-shares">Investing v/s Trading</a> </li>
            <li><a href ="/pages/investment_education/investment-fixed-deposits">Fixed Deposits</a> </li>
            <li><a href ="/pages/investment_education/sip">Sip</a> </li>
            <li><a href ="/pages/investment_education/investment-types">Types of investment</a> </li>
            <li><a href ="/pages/investment_education/life-insurance-policies">Life Insurance</a></li>
            <li><a href ="/pages/investment_education/where-to-invest"> Where to invest</a></li>
            <li><a href ="/pages/investment_education/tax-planning"> Planning your taxes</a> </li>
            <li><a href ="/pages/investment_education/shares">Shares</a></li>
            <li><a href ="/pages/investment_education/mutual-funds-etf">Mutual Funds and ETFs</a></li>
            <li><a href ="/pages/investment_education/bonds">Bonds</a></li>
            <li><a href ="/pages/investment_education/fundamental-analysis-shares">Fundamental Analysis</a></li>
            <li><a href ="/pages/investment_education/technical-analysis-shares">Technical Analysis</a></li>
            <li><a href ="/pages/investment_education/investment-plan">Investment Plan</a></li>
          </ul>
        </div>
        <div class="well">
          <h5 class="header">Popular Research Reports</h5>
          <table>
            <tr>
              <td class="span9"> Axis Bank </td>
              <td class="span3"> Buy </td>
            </tr>
            <tr>
              <td class="span9"> State Bank of India </td>
              <td class="span3"> Sell </td>
            </tr>
            <tr>
              <td class="span9"> Tata Consultancy Services </td>
              <td class="span3"> Buy </td>
            </tr>
            <tr>
              <td class="span9"> Infosys </td>
              <td class="span3"> Hold </td>
            </tr>
            <tr>
              <td class="span9"> Dr.Reddy </td>
              <td class="span3"> Buy </td>
            </tr>
            <tr>
              <td class="span9"> Ranbaxy </td>
              <td class="span3"> Sell </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

